*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.footer-container{
  
        background-image: url(../image/footer.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 152px;
        background-size: contain;
       
        
    
}
.footer-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    
    background-image: url(../image/footer-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  height: 130px;
    width: 300px;
        
       
}