
.status-thankYou-main-picture {
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0%;
	padding: 0%;
}

.main-container {
	display: flex;
}

.main-card {
	box-sizing: border-box;
	display: flex;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	height: 20vh;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 70px;
}

.primary-text {
	color: #ffffff;
	font-family: Fugaz One;
	font-size: 62px;
	font-weight: 400;
	line-height: 91px;
	letter-spacing: 0em;
	text-align: center;
}

.secondary-text {
	color: #ffffff;
	font-family: Fredoka;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.main-card {
		margin-top: 10px;
	}
	.primary-text {
		margin-top: -10px;
		color: #ffffff;
		font-family: Fugaz One;
		font-size: 32px;
		font-weight: 400;
		line-height: 91px;
		letter-spacing: 0em;
		text-align: center;
	}
}

@media screen and (max-width: 440px) {
	.main-card {
		margin-top: -10px;
	}
	.primary-text {
		margin-top: -50px;
		color: #ffffff;
		font-family: Fugaz One;
		font-size: 22px;
		font-weight: 400;
		line-height: 91px;
		letter-spacing: 0em;
		text-align: center;
	}
}
