*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.card-container{
    position: relative;
    top: 20px;
    margin: 0 auto;
width: 80%;
height: 20%;
display: flex;
justify-content: space-around;
flex-direction: column;

}.card-img{
    position: relative;
    top: 70px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
} Card{
    background-color: red;
    border-radius: 1.4em;
}
@media  screen and (max-width: 350px) {
   
    .card-container{
        width: 340px;
        height: auto;
        margin: 0 auto;
    }.team-img img{
        width: 280px;
    }
    .card-img{
        display: grid;
        grid-template-columns: 1fr;
    }
}