* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

.card-container {
	position: relative;
	top: 20px;
	margin: 0 auto;
	width: 80%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.card-img {
	position: relative;
	top: 70px;
	max-width: 100%;
	height: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}.cardImgBody{
     width: 21rem;
      border-radius: 1.3rem;

}
.card-body{

    font-size: 1.5rem;
}


@media screen and (max-width: 350px) {
	.card-container {
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}
    
	.team-img img {
        position: relative;
		top:   40px;
		width: 60%;
	}
    
	.card-img {
        position: relative;
		width: 330px;
        height: auto;
		display: flex;
		flex-direction: column;
        justify-content: space-between;
		gap: 20px;
	}
	.card1 {
        position: relative;
		width: 300px;
        height: auto;
        margin: 0 auto;
	}.cardImgBody {
        width: 100%;
        padding: 10px;
		display: flex;
		flex-direction: row;
	}
	.cardImgBody img {
		
		width: 30%;
	}
	.text-card {
        position: relative;
        width: 70%;
        font-size: .7rem;
        text-align: start;
        font-weight: bold;
	}.title-card{
        width: 75%;
        font-size: .7rem;
        font-weight: 100;
    }
	.card-body {
        position: relative;
        text-align: start;
        display: flex;
        flex-direction: column ;
        width: 100vw;
		height: 20%;
	}
	
}
