* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}

.card-container {
	top: 20px;
	margin: 0 auto;
	width: 80%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.card-img {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.cardImgBody {

	width: 315px;

	border-radius: 1.3rem;
}
.card-body {
	font-size: 1.5rem;

}
.team-text {
	display: flex;
	width: 100%;
	height: 160px;
}
.team-text h1 {
	font-family: "Fugaz One";
	font-style: normal;
	font-weight: 400;
	font-size: 52px;
	line-height: 76px;
	margin-top: 40px;
	color: #0fa10c;
}

@media screen and (max-width: 750px) {

	.card-container {
		width: 530px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}

	.team-text {
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.team-text h1 {
		font-size: 28px;
	}

	.team-img {
		position: relative;
		width: 50%;

	}

	.card-img {
		position: relative;

		width: 330px;

		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
	}
	.card1 {
		position: relative;

		width: 320px;

		height: auto;
		margin: 0 auto;
	}
	.cardImgBody {

		width: 100%;

		padding: 10px;
		display: flex;
		flex-direction: row;
	}
	.cardImgBody img {
		width: 40%;
		height: 50%;
	}
	.text-card {

		width: 65%;
		font-size: 0.7rem;

		text-align: start;
		font-weight: bold;
	}
	.title-card {

		width: 70%;
		font-size: 0.7rem;
		font-weight: 100;
	}
	.card-body {

		text-align: start;
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 20%;
	}
}
