* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.getTouch-container {
	width: 80%;
	height: 400px;
	margin: 0 auto;
}
.get-touch-text {
	width: 100%;
	height: auto;
	margin-top: 90px;
}
.getTouch-main-card {
	margin-top: 20px;
	width: 100%;
	height: 70%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.getTouch-card {
	margin-top: 20px;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 50%;
}
.get-touch-text h1 {
	margin-top: 40px;
	width: 100%;
	font-family: Fugaz One;
	font-size: 44px;
	font-weight: 400;
	line-height: 65px;
	letter-spacing: 0em;
	text-align: left;
	font-family: "Fugaz One";
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 65px;

	color: #0fa10c;
}
.getTouch-link {
	display: flex;
	justify-content: space-evenly;
}

.getTouch-link ul li a {
	font-family: Fredoka;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #3e3e3e;
	padding: 20px;
	margin: 10px;
}
.getTouch-link {
	position: relative;
	top: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.getTouch-ul-link li {
	margin-top: 15px;
	list-style: none;
}
.getTouch-icon {
	font-size: 25px;
	color: #787878;
}
@media screen and (max-width: 750px) {
	.getTouch-container {
		text-align: center;
		width: 320px;
		height: auto;
		margin-bottom: 20px;
	}
	.get-touch-img img {
		width: 50%;
		margin-bottom: 10px;
	}
	.get-touch-text h1 {
		font-size: 28px;
		text-align: center;
	}
	.get-touch-text {
		width: 100%;
		margin-top: 130px;
	}
	.getTouch-link {
		padding: 6px;
		width: 100%;
		height: auto;
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		margin-bottom: 20px;
	}
	.fa-brands .getTouch-icon {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.getTouch-ul-link {
		width: 100%;
		height: 100%;
	}
}
