.our_container {
	position: relative;
	top: 160px;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.our_story {
	padding: 15px;
	position: relative;
	top: 80px;
	bottom: 30px;
}
.our_story-img {
	width: 100%;
	min-height: 40%;
}
.our_story p {
	font-size: 1.2rem;
	padding-top: 30px;
}
@media screen and (max-width: 540px) {
	.our_story {
		width: 540px;
		height: auto;
	}
	.our_story-img {
		text-align: center;
		font-weight: lighter;
		width: 100%;
		max-height: 40%;
	}
	.our_story-img img {
		width: 40%;
		text-align: center;
	}
	.our_story p {
		width: 100%;
		padding: 10px;
		font-weight: lighter;
		font-size: 1rem;
	}
}
