.our_container{
    position: relative;
    top: 160px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.our_story{
    padding: 15px;
    position: relative;
    top:  80px;
    bottom: 30px;
}.our_story-img{
    width: 100%;
    min-height: 40%;
}.our_story p{
    font-size: 1.2rem;
    padding-top: 30px;
}
@media  screen and (max-width: 350px) {
    .our_container{
        width: 330px;
        height: auto;
    }.our_story{
        padding: 8px;
    }
}