.our_container {
	width: 80vw;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.our_story {
	padding: 15px;
	position: relative;
	top: 80px;
	bottom: 30px;
}
.our_story-text {
	width: 100%;
}
.our_story-text h1 {
	font-family: "Fugaz One";
	font-style: normal;
	font-weight: 400;
	font-size: 52px;
	line-height: 76px;

	color: #0fa10c;
}
.our_story p {
	font-size: 1.2rem;
	padding-top: 30px;
}
@media screen and (max-width: 750px) {
	.our_container {
		width: 330px;
		height: 600px;
	}
	.our_story {
		width: 330px;
		height: 500px;
	}
	.our_story-text {
		text-align: center;
		font-weight: lighter;
		width: 100%;
	}
	.our_story-text h1 {
		font-size: 28px;
	}

	.our_story p {
		width: 100%;
		font-weight: lighter;
		font-size: 0.9rem;
	}
}
