.DonatorForm-card {
	text-align: center;
	font-size: 40px;
}
/* form */
input {
	display: block;
}
select {
	box-sizing: border-box;
	width: 426px;
	height: 45px;
	left: 648px;
	top: 1255px;

	border: 1px solid #3a3a3a;
	border-radius: 8px;
}
select {
	text-align: center;
}

@media screen and (max-width: 740px) {
	.form-container select {
		box-sizing: border-box;
		width: 226px;
		text-align: center;
	}
	.option {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.status-form-input {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
    .status-form-input p{
        margin-top: 12px;
        width: 55%;
    }
}
