.form-card{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.form-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-conatiner input{
    background-color: rgb(247, 247, 247);
    width: 300px;
    height: 50px;
   font-size: 26px;
   padding-left: 10px;
}
.form-conatiner label{
    font-size: 15px;
    padding-right: 5cm;
}
.form-conatiner button{
    width: 300px;
    height: 50px;
    margin-top: 15px;
    background-color: rgb(90, 90, 245);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn1:hover{
    background-color: black;
    color: white;
}
.modale-content{
    width: 400px;
    height: 230px;
    font-size: 1.3rem;
    font-weight: 1.6rem;
    color: whitesmoke;
    border: solid 1px rgb(63, 7, 7);
    background-color: rgb(128, 255, 0);
    padding: 20px;
    position: absolute;
    left: 30%;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    display: none;
}
.close_modale{
   color: rgb(7, 0, 0);
   font-size: 30px;
   padding: 20px;

}
.close_modale:hover, .close_modale:focus{
    color: black;
    cursor: pointer;
    width: 1.5em;

}
label{
    color: black;
    font-size: 1.6em;
}
.newPragraph{
 color: green;
    display: hidden;
}