body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#Donator-home-bt a {
    color: blue;
    text-decoration: none;
}
#laptop-home-bt a{
    
    text-decoration: none;
    color: blue;
}