body{
    margin: 0%;
    height: 0%;
    box-sizing: border-box;
}
.howitwork-container{
    position: relative;
    top: 100px;
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.howItWorkCard {
    width: 80vw;
    height: 40vh;
    display: flex;
    margin: 0 auto;
    align-items: center;

}
.h2{
    text-align: center;
}
.body-span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 40vh;
}
.body-span .imgSvg{
    width: 100px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: green;
    margin-bottom: -40px;
    position: relative;
    z-index: 2;
}
.body-span p{
    width: 80vw;
    height: 40vh;
    text-align:center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 55px -10px rgba(0, 0, 0, 0.25);
    height: 204px;
    width: 366px;
    left: 1100px;
    top: 1060px;
    font-size: 16px;
    border-radius: 20px;
    padding: 120px 40px;
    color: rgba(0, 0, 0, 1);
}
 @media screen and (max-width: 350px) {
    .howitwork-container{
        width: 350px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }.howItWorkCard{
        display: grid;
        grid-template-columns: 1fr;
        width: 350px;
        height: auto;       
        margin: 0 auto; 
   
    }.body-span{
        width: 350px;
        height: 400px;
    }

    .body-span p{
        width: 330px;
        height: 180px;
    }
    .h2 img{
        position: relative;
        width: 270px;
        height: 30px;
    }.body-span .imgSvg{
        width: 70px;
        height: 60px;
}}