.header{
    width: 90vw;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.navbar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
button{
    outline: none;
    width: 161px;
    height: 29;
    margin-left: 25px;
    border: none;
    font-family: Fredoka;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
background-color: white;
}#Page-home-bt a{
    color: green;
}
#Meet-home-bt a:hover{
    border: none;
    color: white;
    width: 120px;
    letter-spacing: -1px;
}
#Page-home-bt a:hover{
    color: white;
}
#Donate-home-bt a:hover{
    color: white;
    letter-spacing: 2px;
}#Register-home-bt a:hover{
    color: white;
}
 button:hover{
    width: 160px;
    height: 45px;
    background-color: green;
        border-radius: 1.3rem;
    color: white;
    
}.link1:hover{
    list-style: none;
    text-decoration: none;
    color: white;

}
.link1::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 4px;
    width: 0;
    bottom: -10px;   
    transition: 0.3s;
}
.link1:hover::before{
    width: 110px;
}