@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.navbar a {
	text-decoration: none;
}
.navbar li {
	list-style-type: none;
}
.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 15vh;
	box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
}
.logo {
	display: flex;
	width: 250px;
  height: 60px;
	position: absolute;
	margin: auto;
	left: 35px;
}

.nav-links {
	text-decoration: none;
	display: flex;
	margin-left: 5%;
	list-style: none;
	text-align: center;
	width: 64vw;
	justify-content: space-around;
}

.nav-links li {
	color: #3e3e3e;
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	/* identical to box height */
	text-align: center;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	text-transform: capitalize;
}
.nav-links li:hover {
	background-color: #0fa10c;
	border-radius: 20px;
	transition: all 0.3s ease-out;
	color: white;
}
.active li {
	color: green;
}

.mobile-menu-icon {
	display: none;
}
.navbar button {
	border: none;
	text-decoration: none;
	font-size: 20px;
	background: none;
}

@media (max-width: 1150px) {
	.logo {
		width: 150px;
		left: 10px;
	}
}

@media (max-width: 768px) {
	.logo {
		display: flex;
		position: absolute;
		left: 35px;
	}

	.active-nav-links {
		color: red;
	}

	.nav-links {
		display: none;
	}
	.nav-links-mobile {
		position: absolute;
		display: block;
		list-style: none;
		box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
		right: 0;
		top: 10%;
		transition: all 0.5s ease-in-out;
		width: 60%;
		background-color: white;
	}
	ul li {
		color: #3e3e3e;
		font-family: "Fredoka";
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		padding: 12px;
		width: 100%;
		transition: all 0.5s ease-in-out;
		text-align: center;
	}
	.mobile-menu-icon {
		position: absolute;
		display: block;
		right: 20px;
	}
	.hero h1 {
		font-size: 50px;
	}
}
